/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    max-width: 1190px;
    margin: auto;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2em;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #000;
}

hr {
    height: 1px;
    background-color: #0288D1;
    border: none;
}

/* Éléments de la partie main */
main {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 67%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

main h2 {
    margin-left: 55px;
    margin-bottom: 10px;
}

main h3 {
    margin-bottom: 12px;
}

main i {
    color: #0288D1;
    float: left;
    -webkit-transform: translateY(33%);
        -ms-transform: translateY(33%);
            transform: translateY(33%);
}

nav {
    display: none;
}

header {
    margin-left: 54px;
    margin-bottom: 103px;
}

header hr {
    width: 58px;
    margin: 0;
    text-align: left;
}

header p {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    margin: 0;
}

.formation, .experience, .recommandations {
    width: 90%;
    margin: auto;
}

.formation1, .formation2, .formation3, .experience1, .experience2, .contenu-recommandations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.formation .premier, .formation .suivant, .experience .premier, .experience .suivant {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
}

.premier::before {
    content: "ʘ";
    color: #0288D1;
    margin-right: 5px;
}

.suivant::before {
    content: "•";
    color: #0288D1;
    margin-right: 9px; 
}

.formation span, .experience span {
    margin-top: 0;
    margin-left: 13px;
}

.formation1 section, .formation2 section, .formation3 section, .experience1 section, .experience2 section {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.formation1, .formation2, .formation3, .experience1, .experience2, .recommandation1, .recommandation2 {
    color: #444444;
}

.recommandation1 {
    width: 50%;
}

/* Éléments de la partie aside */
aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #0288D1;
    width: 33%;
    border-left: 1px solid black;
}

aside h2 {
    text-align: center;
    background-color: #FFF;
    color: #0288D1;
}

aside li, aside p {
    text-shadow: 0 0 70px white;
}

.prenom {
    color: #0288D1;
}

.photo {
    text-align: center;
}

ul {
    color: #212121;
    list-style: none;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

ul p {
    margin-bottom: 0;
}

ul a, .pseudo-skype {
    margin-top: 0;
}

.a-propos p {
    color: #212121;
    margin: 20px;
}

.loisirs {
    margin-top: 250px;
}

.icones {
    width: 80%;
    margin: auto;
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}